<div class="login-page">
  <div class="login-main">  	
     <div class="login-head">
      <h1>Login</h1>
    </div>
    <div class="login-block">
      <form>
        <input type="text" name="email" placeholder="Email" required="">
        <input type="password" name="password" class="lock" placeholder="Password">
        <div class="forgot-top-grids">
          <div class="forgot-grid">
            <ul>
              <li>
                <input type="checkbox" id="brand1" value="">
                <label for="brand1"><span></span>Remember me</label>
              </li>
            </ul>
          </div>
          <div class="forgot">
            <a href="#">Forgot password?</a>
          </div>
          <div class="clearfix"> </div>
        </div>
        <input type="submit" name="Sign In" value="Login">	
        <h3>Not a member?<a href="signup.html"> Sign up now</a></h3>				
        <h2>or login with</h2>
        <div class="login-icons">
          <ul>
            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>						
          </ul>
        </div>
      </form>
      <h5><a href="index.html">Go Back to Home</a></h5>
    </div>
    </div>
</div>
<link href="./assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="./assets/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="./assets/js/jquery-2.1.1.min.js"></script> 
<!--icons-css-->
<link href="./assets/css/font-awesome.css" rel="stylesheet"> 